<p>{{blogPost.title}}</p>
<p>{{blogPost.description}}</p>

{{#each blogComments as |comment|}}
<p>{{comment.userName}} - {{comment.comment}}</p>
{{/each}}

<p>Leave a comment!</p>
<form class="comment-form">
    <div class="row">
        <div class="six columns">
            <label for="commentUserName">Your name</label>
            <input class="u-full-width" type="text" placeholder="Your cool username" id="user-name-input">
            <label for="comment-text">Comment</label>
            <textarea class="u-full-width" placeholder="What a great post …" id="comment-text"></textarea>
        </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
</form>

<script src="../js/comments.js"></script>