<p>{{blogPost.title}}</p>
<p>{{blogPost.description}}</p>

<p>Leave a comment!</p>
<form id="comment-form">
    <div class="row">
        <div class="six columns">
            <label for="commentUserName">Your name</label>
            <label for="comment-text">Comment</label>
            <textarea class="u-full-width" placeholder="What a great post …" id="comment-text"></textarea>
        </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
</form>