{{!-- show comment --}}
<section>
    <div class="comment-post">
        <p>{{plainCommentData.user.name}} says:</p>
        <p class="indent">
            {{plainCommentData.comment}}
        </p>
        <p class="date-stamp">Comment created/updated on: {{format_date plainCommentData.updatedAt}}</p>
    </div>
</section>

{{!-- Edit comment --}}
<section>
    <form class="update-comment">
        <p class="comment-header">Oops! Made a typo?</p>
        <p>Fix it up below!</p>
        <div class="row">
            <div class="twelve columns">
                <label for="comment-content">Your Updated Comment</label>
                <textarea class="u-full-width" placeholder="This is the start of something amazing …"
                    id="updated-comment">{{plainCommentData.comment}}</textarea>
            </div>
            <input class="button-primary" type="submit" value="Update">
        </div>
    </form>
</section>

{{!-- delete comment --}}
<section>
    <div class="delete-blog">
        <p class="comment-header">Said something you horribly regret?</p>
        <p>Delete it here and remember to play nicely next time!</p>
        <button id="delete-button">Delete</button>
    </div>
</section>

<script src="/js/updatecomments.js"></script>