<section>
    <h2 class="dashboard-header">Your previous blog posts</h2>
    {{#each userPosts as |post|}}
    <div class="blog-post-home">
        <a href="/dashboard/blog/{{post.id}}">
            <h3>{{post.title}}</h3>
        </a>
        <p>{{post.description}}</p>
        <p class="date-stamp">Posted on {{format_date post.createdAt}}</p>
    </div>
    {{/each}}
</section>

<div class="create-blog">
    <h4>Got something to say? Share it with the world!</h4>
    <a href="/dashboard/blog" class="button button-primary">Create A Post!</a>
</div>