<form class="form login-form">
    <div class="row">
        <div class="six columns">
            <label for="email-input">Your email</label>
            <input class="u-full-width" type="email" placeholder="mail@email.com" id="email-input">
        </div>
        <div class="six columns">
            <label for="password-input">Password</label>
            <input class="u-full-width" type="password" placeholder="Enter your password here" id="password-input">
        </div>

        <input class="button-primary" type="submit" value="Submit">
    </div>
</form>

<div>
    <form class="form register-form">
        <div class="row">
            <div class="six columns">
                <label for="username-register">Your Username</label>
                <input class="u-full-width" type="text" id="username-register">
            </div>
            <div class="six columns">
                <label for="email-register">Email</label>
                <input class="u-full-width" type="email" placeholder="mail@email.com" id="email-register">
            </div>
            <div class="six columns">
                <label for="password-input">Password</label>
                <input class="u-full-width" type="password" placeholder="Enter your password here"
                    id="password-register">
            </div>

            <input class="button-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

{{!--
<script src="../public/js/login.js"></script> --}}

<h1>Hello world@</h1>