<div>
    <form class="form register-form">
        <div class="row">
            <div class="four columns">
                <label for="username-register">Your Username</label>
                <input class="u-full-width" type="text" id="username-register">
            </div>
            <div class="four columns">
                <label for="email-register">Email</label>
                <input class="u-full-width" type="email" placeholder="mail@email.com" id="email-register">
            </div>
            <div class="four columns">
                <label for="password-input">Password</label>
                <input class="u-full-width" type="password" placeholder="Enter your password here"
                    id="password-register">
            </div>

            <input class="button-primary" type="submit" value="Submit">
        </div>
    </form>
</div>

<a href="/login">Want to Login instead?</a>

<script src="./js/signup.js"></script>