body {
    margin-left: 3rem;
    margin-right: 3rem;
    background: #008083;
}

header {
    margin-bottom: 6rem;
    margin-left: -3rem;
    margin-right: -3rem;
    padding-top: 0.5rem;
    background: #faab35;
}

header h1 {
    margin-left: 3rem;
    margin-right: 3rem;
}

footer {
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: 6rem;
    padding: 1rem;
    background: #faab35;
}

.tagline {
    font-size: 2.7rem;
    margin-left: 1.5rem;
}

/* Nav styling */
nav {
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.button:hover {
    background-color: #005f61;
    border-color: #008083;
    color: #FFFFFF;
}

.button {
    height: 38px;
    width: 16rem;
    border-color: #fd5900;
}

li {
    list-style: none;
    display: inline;
}

/* Blog post styling */
.blog-post-home {
    /* border: 1px solid blue; */
    background-color: rgb(253, 238, 221);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0.8rem 0.8rem 0.7rem rgba(11, 0, 71, 0.712);
}

.blog-post-home:nth-of-type(odd) {
    background-color: rgb(214, 248, 228);
}