body {
    margin-left: 3rem;
    margin-right: 3rem;
    background: #008083;
}

header {
    margin-bottom: 6rem;
    margin-left: -3rem;
    margin-right: -3rem;
    padding-top: 0.5rem;
    background: #faab35;
}

header h1 {
    margin-left: 3rem;
    margin-right: 3rem;
}

/* make the text area vertical resize only */
textarea {
    resize: vertical;
}

footer {
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: 6rem;
    padding: 1rem;
    background: #faab35;
}

.tagline {
    font-size: 2.7rem;
    margin-left: 1.5rem;
}

/* Nav styling */
nav {
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.button:hover,
.button-primary:hover {
    background-color: #005f61 !important;
    border-color: #008083 !important;
    color: #FFFFFF;
}

.button {
    height: 38px;
    width: 16rem;
    border-color: #fd5900;
}

li {
    list-style: none;
    display: inline;
}

/* Blog and comment post styling */
.blog-post-home,
.comment-post {
    /* border: 1px solid blue; */
    background-color: rgb(253, 238, 221);
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0.8rem 0.8rem 0.4rem rgba(11, 0, 71, 0.712);
}

.blog-post-home:nth-of-type(odd),
.comment-post:nth-of-type(odd) {
    background-color: rgb(214, 248, 228);
}

.comment-post {
    margin-left: 2rem;
    margin-right: 2rem;
}

.edit-comment {
    color: #1988aa
}

.date-stamp {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* form styling */
form {
    margin: 4rem;
    padding: 2rem;
    background-color: #faab35;
    border: 2px solid #fd5900;
}

.button-primary {
    background-color: #249ea1 !important;
    border-color: #249ea1 !important;
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(11, 0, 71, 0.712);
}

/* styling for delete blog options */

.delete-blog {
    padding: 3rem;
    margin: 4rem;
    color: #ffffff;
    background: #249ea1;
}

#delete-button {
    background-color: #faab35 !important;
    border-color: #008083 !important;
    color: #000000;
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(11, 0, 71, 0.712);
}

#delete-button:hover {
    background-color: #fd5900 !important;
}

.signup-login-link {
    color: #003b32;
}

.signup-login-link:hover {
    color: rgb(253, 250, 247)
}